node_modules/

.env
.env.local
.env.production
.env.production.local

frontend/node_modules/
frontend/build/

backend/node_modules/
backend/uploads/*
!backend/uploads/.gitkeep

*.log
.vscode/
.i  dea/

docs/
deploy/